In [4]:
import requests

import pandas as pd 

from bs4 import BeautifulSoup

from tqdm import tqdm

In [5]:
data = []

for j in tqdm(range(1 , 51)):
    link = 'https://books.toscrape.com/catalogue/page-'+str(j) + '.html'

    res = requests.get(link)

    html = res.text

    soup = BeautifulSoup(html , 'html.parser')

    for i in soup.find_all('li' , class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        
        book_name = i.find_all('a')[-1].get('title')
        book_link = 'https://books.toscrape.com/catalogue/' + i.find_all('a')[-1].get('href')
        image_link = 'https://books.toscrape.com/'+i.find('img').get('src')
        book_rating = i.find('p').get('class')[-1]
        price = i.find('p' , class_ = 'price_color')
        availability = i.find('p' , class_='instock availability').text.strip()

        data.append([book_name , book_link , image_link , book_rating , price , availability])

100%|██████████| 50/50 [01:46<00:00,  2.13s/it]

In [6]:
len(data)

1000

In [28]:
my_data = pd.DataFrame(data , columns=['book_name' , 'book_link' , 'image_link' , 'book_rating' , 'price' , 'availability'])

In [31]:
if 'price' in my_data.columns:
    # Convert all entries in 'price' to strings
    my_data['price'] = my_data['price'].astype(str)
    
    # Remove the first and last character from each entry
    my_data['price'] = my_data['price'].str[3:-3]
    
    # Display the modified DataFrame
    my_data.head()

In [32]:
my_data

,book_name,book_link,image_link,book_rating,price,availability
0,A Light in the Attic,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,Three,£51.77,In stock
1,Tipping the Velvet,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,One,£53.74,In stock
2,Soumission,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,One,£50.10,In stock
3,Sharp Objects,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Four,£47.82,In stock
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Five,£54.23,In stock
...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...,One,£55.53,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...,Four,£57.06,In stock
997,A Spy's Devotion (The Regency Spies of London #1),https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...,Five,£16.97,In stock
998,1st to Die (Women's Murder Club #1),https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...,One,£53.98,In stock
999,"1,000 Places to See Before You Die",https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...,Five,£26.08,In stock

In [33]:
my_data.to_csv('book_scrapper.csv')

In [37]:
data = []
for link in tqdm(my_data['book_link']):
    res= requests.get(link)
    soup = BeautifulSoup(res.text , 'html.parser')
    typ = soup.find('ul' , class_ = 'breadcrumb').find_all('a')[2].text 
    
    temp = soup.find('table' , class_='table table-striped').find_all('td')
    
    upc = temp[0].text
    price_x = temp[2].text[2:]
    price_i = temp[3].text[2:]
    tax = temp[4].text[2:]
    qn = temp[5].text
    reviews = temp[6].text
    
    data.append([typ,upc , price_x , price_i , tax , qn , reviews ])

100%|██████████| 1000/1000 [27:20<00:00,  1.64s/it]

In [38]:
second_df = pd.DataFrame(data, columns = ['type' , 'upc' , 'price_x' , 'price_i' , 'tax' , 'quantity' , 'reviews'])

In [39]:
second_df.head()

,type,upc,price_x,price_i,tax,quantity,reviews
0,Poetry,a897fe39b1053632,51.77,51.77,0.00,In stock (22 available),0
1,Historical Fiction,90fa61229261140a,53.74,53.74,0.00,In stock (20 available),0
2,Fiction,6957f44c3847a760,50.10,50.10,0.00,In stock (20 available),0
3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.00,In stock (20 available),0
4,History,4165285e1663650f,54.23,54.23,0.00,In stock (20 available),0

In [40]:
second_df.to_csv('book_info.csv')

In [41]:

final_df= pd.DataFrame()

In [43]:
my_data.columns

Index(['book_name', 'book_link', 'image_link', 'book_rating', 'price',
       'availability'],
      dtype='object')

In [44]:
second_df.columns

Index(['type', 'upc', 'price_x', 'price_i', 'tax', 'quantity', 'reviews'], dtype='object')

In [45]:
final_df = pd.concat([my_data , second_df] , axis=1)

final_df.head()

,book_name,book_link,image_link,book_rating,price,availability,type,upc,price_x,price_i,tax,quantity,reviews
0,A Light in the Attic,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,Three,£51.77,In stock,Poetry,a897fe39b1053632,51.77,51.77,0.00,In stock (22 available),0
1,Tipping the Velvet,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,One,£53.74,In stock,Historical Fiction,90fa61229261140a,53.74,53.74,0.00,In stock (20 available),0
2,Soumission,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,One,£50.10,In stock,Fiction,6957f44c3847a760,50.10,50.10,0.00,In stock (20 available),0
3,Sharp Objects,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Four,£47.82,In stock,Mystery,e00eb4fd7b871a48,47.82,47.82,0.00,In stock (20 available),0
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Five,£54.23,In stock,History,4165285e1663650f,54.23,54.23,0.00,In stock (20 available),0

In [46]:
final_df.to_csv('final_dataset.csv')